.draggable-shape {
  fill-opacity: 0;
  stroke: #aaa;
  stroke-width: 2;
}

.puzzle.hover .draggable-shape:hover,
.puzzle.dragging .draggable-shape.selected {
  fill-opacity: 0.85;
  fill: blue;
  stroke: blue;
  transition: stroke 250ms;
  transition: fill-opacity 250ms;
  cursor: move;
}
